openapi: 3.0.0
info:
  title: Sysdig Secure API
  description: >
    Sysdig Secure RESTful Documentation


    ## Conventions

    ### Access | Send | Receive

    API access is over HTTPS and accessed from:



    SaaS: See [SaaS
    Regions](https://docs.sysdig.com/en/saas-regions-and-ip-ranges.html) and IP
    Ranges for the URLs corresponding to different regions.



    For example:

    Sysdig Secure for US East: https://secure.sysdig.com


    Sysdig Monitor for US West: https://us2.app.sysdig.com


    Sysdig Secure for EU Central: https://eu1.app.sysdig.com/secure/


    Sysdig Monitor for EU Central: https://eu1.app.sysdig.com


    On-Prem: through your Sysdig application server address



    Data is sent and received using `JSON` format.


    ### Authorization

    The Sysdig API token must be passed to the HTTPS server via the
    Authorization header with the format:


    `Authorization: Bearer [token]`


    ### Encoding

    The request should set the HTTP header:


    `Accept: application/json`


    Every response is returned with the HTTP header


    `Content-Type: application/json;charset=UTF-8`


    To reduce the size of the request and (primarily) the response, you can set
    the header to compress HTTP body and response:


    `Accept-Encoding:gzip, deflate, sdch`


    <SecurityDefinitions />
  version: v2
  x-logo:
    url: 'https://docs.sysdig.com/css/image/portal-logo.png'
  contact:
    name: API Support
    url: 'https://sysdig.com/company/technical-support/'
    email: ' doc-feedback@sysdig.com'
externalDocs:
  description: Sysdig Product Documentation
  url: 'https://docs.sysdig.com'
servers:
  - url: 'https://secure.sysdig.com'
    description: Sysdig Secure API
paths:
  /api/v1/secure/overview/status:
    get:
      summary: Check status of overview service.
      description: Checks whether the overview service is available or not.
      tags:
        - Overview
      responses:
        '200':
          description: Successfully returned status of overview service.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: |
            Status Unauthorized: Returned when user is not authorized
        '403':
          description: |
            Status Forbidden: Returned when Overview V2 is disabled
  /api/v1/secure/overview:
    get:
      summary: Datasource for the Secure Overview page.
      description: >-
        Fetches overview data for a specified set of panels of the Secure
        Overview page. Customer ID is derived from API key.
      tags:
        - Overview
      parameters:
        - $ref: '#/components/parameters/panel'
        - $ref: '#/components/parameters/timeframe'
        - $ref: '#/components/parameters/cluster'
        - $ref: '#/components/parameters/namespace'
      responses:
        '200':
          description: Successfully returned overview data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OverviewResponse'
        '400':
          description: 'Returned if panel, cluster or namespace are invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OverviewError'
        '401':
          description: Invalid or missing auth token
        '404':
          description: No record found for customerId
  /api/benchmarks/v2/status:
    get:
      tags:
        - Benchmarks V2
      summary: Status
      description: >
        Checks the availability of the Benchmarks V2 API. If Benchmarks V2 is
        disabled for the customer, and no Cloud Benchmark results are available,
        this endpoint will return a 403. If Benchmarks V2 is disabled for the
        customer, but Cloud Benchmark results are available, this endpoint will
        return 200 with a dummy TaskId in the response body to be used to
        request the Cloud Benchmark results. Finally, if Benchmark V2 is
        enabled, this endpoint will return a 200 with no body.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  dummyCloudTaskId:
                    type: string
                    example: '123'
                    description: >
                      This task Id is not a real task, but is used to request
                      Cloud Benchmark results. If there are no Cloud Benchmark
                      results available, this endpoint will return a `403 STATUS
                      FORBIDDEN` instead.
        '403':
          description: >
            Status Forbidden: Returned when Benchmarks V2 is disabled, and there
            are no Cloud Benchmark Results available. FE should hide the
            Benchmarks V2 UI.
  /api/benchmarks/v2/scopeOptions:
    get:
      tags:
        - Benchmarks V2
      summary: Scope Options
      description: >
        Returns the list of available Scope Labels and Operators that can be
        used when creating a Benchmark Task. If an optional 'schema' query param
        is provided, only Scope Labels relevant to that schema are returned,
        otherwise all possible Scope Labels are returned.
      parameters:
        - name: schema
          in: query
          description: >-
            Fetch the Scope Labels and Operators for this schema. Use a value
            returned from `/benchmarks/v2/schemas`
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  labels:
                    type: array
                    description: A list of supported Scope Labels
                    items:
                      type: string
                    example:
                      - host.hostName
                      - host.mac
                      - aws.account_id
                      - aws.region
                      - aws.instance_id
                      - kubernetes.cluster.name
                      - kubernetes.node.name
                  operators:
                    type: array
                    description: A list of supported Scope Operators
                    items:
                      type: string
                    example:
                      - in
                      - equals
  /api/benchmarks/v2/schemas:
    get:
      tags:
        - Benchmarks V2
      summary: List Schemas
      description: Returns the list of available Benchmark Schemas.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    schema:
                      type: string
                      description: The internal Schema identifier
                    displayName:
                      type: string
                      description: The Schema display name
                    link:
                      type: string
                      description: A link to the official standard
                example:
                  - schema: kube_bench_cis-1.5
                    displayName: CIS Kubernetes Benchmark 1.5
                    link: 'https://www.cisecurity.org/benchmark/kubernetes/'
                  - schema: kube_bench_cis-1.6
                    displayName: CIS Kubernetes Benchmark 1.6
                    link: 'https://www.cisecurity.org/benchmark/kubernetes/'
  '/api/benchmarks/v2/schemas/{schemaId}':
    get:
      tags:
        - Benchmarks V2
      summary: Get Schema Controls
      description: >-
        Returns the list of Controls in a given Benchmark Schemas grouped by
        Family.
      parameters:
        - name: schemaId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    familyId:
                      type: string
                      description: The ID of the family.
                    title:
                      type: string
                      description: The Title (name) of the family.
                    controls:
                      type: array
                      items:
                        type: object
                        properties:
                          controlId:
                            type: string
                            description: The ID of the control.
                          title:
                            type: string
                            description: The Title (name) of the control.
                          level:
                            type: string
                            description: The CIS Level of the control.
                example:
                  - familyId: '1.1'
                    title: Master Node Configuration Files
                    controls:
                      - controlId: 1.1.1
                        title: >-
                          Ensure that the API server pod specification file
                          permissions are set to 644 or more restrictive
                        level: Level 1
                      - controlId: 1.1.2
                        title: >-
                          Ensure that the API server pod specification file
                          ownership is set to root:root
                        level: Level 1
                  - familyId: '1.2'
                    title: API Server
                    controls:
                      - controlId: 1.2.1
                        title: >-
                          Ensure that the --anonymous-auth argument is set to
                          false
                        level: Level 1
                      - controlId: 1.2.2
                        title: Ensure that the --basic-auth-file argument is not set
                        level: Level 1
  /api/benchmarks/v2/tasks:
    get:
      tags:
        - Benchmarks V2
      summary: List Tasks
      description: Fetches a list of Benchmark Tasks
      parameters:
        - name: filter
          in: query
          description: 'Free text filter. Searches the following fields: `name`, `scope`'
          required: false
          schema:
            type: string
        - name: schema
          in: query
          description: Filter by schema. Valid list returned by `/schemas` endpoint.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskResponseBody'
    post:
      tags:
        - Benchmarks V2
      summary: Create Task
      description: Create a new Benchmark Task
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTaskBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponseBody'
  '/api/benchmarks/v2/tasks/{taskId}':
    get:
      tags:
        - Benchmarks V2
      summary: Get Task
      description: Fetches a Benchmark Task by Id
      parameters:
        - name: taskId
          in: path
          required: true
          schema:
            type: number
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponseBody'
    delete:
      tags:
        - Benchmarks V2
      summary: Delete Task
      description: >-
        Delete Benchmark Task with specified task Id. If task has results then
        the result must be deleted before deleting the task
      parameters:
        - name: taskId
          in: path
          required: true
          schema:
            type: number
      responses:
        '200':
          description: OK
  '/api/benchmarks/v2/tasks/{taskId}/enable':
    put:
      tags:
        - Benchmarks V2
      summary: Enable Task
      description: >-
        Enables the Benchmark Task with specified task Id. If the task is
        already enabled, this is a no-op.
      parameters:
        - name: taskId
          in: path
          required: true
          schema:
            type: number
      responses:
        '200':
          description: OK
  '/api/benchmarks/v2/tasks/{taskId}/disable':
    put:
      tags:
        - Benchmarks V2
      summary: Disable Task
      description: >-
        Disables the Benchmark Task with specified task Id. If the task is
        already disabled, this is a no-op.
      parameters:
        - name: taskId
          in: path
          required: true
          schema:
            type: number
      responses:
        '200':
          description: OK
  '/api/benchmarks/v2/tasks/{taskId}/run':
    post:
      tags:
        - Benchmarks V2
      summary: Run now
      description: Runs the Benchmark Task with the specified task Id
      parameters:
        - name: taskId
          in: path
          required: true
          schema:
            type: number
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Set to True if the run request was successfully enqueued
                  runID:
                    type: string
                    description: >-
                      The run ID (and ensuing result ID) that was created.
                      Present IFF `success=true`.
                    example: 674088d3-c9a8-4f04-b47a-5ade04d36faf
                  errMsg:
                    type: string
                    description: >-
                      A description of what went wrong. Present IFF
                      `success=false`.
                    example: could not contact redis
  '/api/benchmarks/v2/tasks/{taskId}/result':
    get:
      tags:
        - Benchmarks V2
      summary: Get most recent Result ID
      description: >-
        Fetches most recent result Id, and optionally redirects to the correct
        `/tasks/{taskId}/results/{resultId}` URL
      parameters:
        - name: taskId
          in: path
          required: true
          schema:
            type: number
        - name: redirect
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Returned when `redirect` is false or not provided.
          content:
            application/json:
              schema:
                type: object
                properties:
                  lastRunId:
                    type: string
                    description: The most recent run (result) ID
                    example: 674088d3-c9a8-4f04-b47a-5ade04d36faf
        '204':
          description: 'Returned when task does not exist, or it has not yet been run'
        '302':
          description: >-
            Returned when `redirect` is true. Redirects the browser to the URL
            with latest resultId
          headers:
            Location:
              schema:
                type: string
                example: /api/benchmarks/v2/tasks/1/results/10
  /api/compliance/v1/status:
    get:
      summary: Check the status of Compliance service.
      description: Checks whether the Compliance service is available or not.
      tags:
        - Compliance
      responses:
        '200':
          description: Successfully returned compliance status.
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /api/compliance/v1/standards:
    get:
      summary: List of supported Compliance standards.
      description: Fetches list of compliance standards supported by Sysdig.
      tags:
        - Compliance
      responses:
        '200':
          description: Successfully returned compliance standards list.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example:
                  - PCI_3.2
                  - NIST_800_53
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /api/compliance/v1/environments:
    get:
      summary: List of supported Compliance environments.
      description: Fetches list of compliance environments supported by Sysdig.
      tags:
        - Compliance
      responses:
        '200':
          description: Successfully returned compliance environments list.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example:
                  - kubernetes
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /api/compliance/v1/controls/description:
    get:
      summary: Get detailed description of a specific control.
      description: Fetches detailed description of a given control.
      tags:
        - Compliance
      parameters:
        - $ref: '#/components/parameters/standard'
        - $ref: '#/components/parameters/environment'
        - $ref: '#/components/parameters/controlId'
      responses:
        '200':
          description: Successfully returned detailed description of specific control.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controlDescription'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /api/compliance/v1/report:
    get:
      summary: Get the complete compliance report for a given compliance standard.
      description: >-
        Fetches the complete compliance report for a given compliance standard
        and environment.
      tags:
        - Compliance
      parameters:
        - $ref: '#/components/parameters/standard'
        - $ref: '#/components/parameters/environment'
        - $ref: '#/components/parameters/parameters-cluster'
        - $ref: '#/components/parameters/detail'
        - $ref: '#/components/parameters/showBulkFail'
        - $ref: '#/components/parameters/status'
      responses:
        '200':
          description: >-
            Successfully returned the complete compliance report for a given
            compliance standard and environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/complianceReport'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /api/compliance/v1/report/csv:
    get:
      summary: >-
        Get the complete compliance report for a given compliance standard in
        CSV format.
      description: >-
        Fetches the complete compliance report for a given compliance standard
        and environment in CSV format.
      tags:
        - Compliance
      parameters:
        - $ref: '#/components/parameters/standard'
        - $ref: '#/components/parameters/environment'
        - $ref: '#/components/parameters/parameters-cluster'
        - $ref: '#/components/parameters/detail'
      responses:
        '200':
          description: >-
            Successfully returned the complete compliance report for a given
            compliance standard and environment.
          content:
            text/csv:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  '/api/reporting/v1/{domain}/{reportType}/config':
    parameters:
      - $ref: '#/components/parameters/domain'
      - $ref: '#/components/parameters/reportType'
    get:
      summary: Get all the options available to define a report configuration
      tags:
        - Reporting
      responses:
        '200':
          description: Options available to define a report configuration
          content:
            application/json:
              schema:
                type: object
                properties:
                  availableColumns:
                    type: array
                    readOnly: true
                    description: >-
                      The available columns that can be chosen and included in a
                      generated report
                    items:
                      type: object
                      properties:
                        dataKey:
                          type: string
                          description: Column identifier
                          example: severity
                        label:
                          type: string
                          nullable: true
                          description: Human-readable name for the column
                          example: Severity
                        isRequired:
                          type: boolean
                          description: >-
                            Whether the columns must be included when specifying
                            a report configuration
                          example: true
                  availableFilters:
                    type: array
                    readOnly: true
                    description: >-
                      The available conditions that can be set to filter the
                      results in a generated report
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                            - string
                            - number
                            - boolean
                            - stringarray
                          description: Data type for the filter values
                          example: string
                        name:
                          type: string
                          description: Filter identifier
                          example: severity
                        label:
                          type: string
                          nullable: true
                          description: Human-readable label for the filter
                          example: Severity
                        labelSuffix:
                          type: string
                          nullable: true
                          description: Human-readable suffix for the filter value
                          example: sev.
                        allowedValues:
                          type: array
                          nullable: true
                          items:
                            type: object
                            properties:
                              value:
                                oneOf:
                                  - type: string
                                  - type: number
                                  - type: boolean
                                  - type: array
                                    items:
                                      type: string
                                description: One of the allowed value for the filter
                                example: high
                              label:
                                type: string
                                description: Human-readable label for the filter value
                                example: High
                          description: Full list of the allowed values for the filter
                        min:
                          type: number
                          nullable: true
                          description: Minimum allowed value for filters with type number
                          example: 0
                        max:
                          type: number
                          nullable: true
                          description: Maximum allowed value for filters with type number
                          example: 10
                        comparisons:
                          type: array
                          nullable: true
                          items:
                            type: string
                          description: >-
                            Optional list of comparison operators which can be
                            used when applying the filter
                          example:
                            - '>='
                            - <=
  '/api/reporting/v1/{domain}/{reportType}/preview':
    parameters:
      - $ref: '#/components/parameters/domain'
      - $ref: '#/components/parameters/reportType'
    post:
      summary: Get a result preview of a report with the given configuration
      tags:
        - Reporting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportConfig'
      responses:
        '200':
          description: The result preview for the requested report configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportContent'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportingError'
              example: Invalid report configuration
  '/api/reporting/v1/{domain}/schedules':
    parameters:
      - $ref: '#/components/parameters/domain'
    get:
      summary: List all the saved schedules for report generation
      tags:
        - Reporting
      responses:
        '200':
          description: The list of all saved schedules for report generation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReportSchedule'
    post:
      summary: Create a new schedule for report generation
      tags:
        - Reporting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportSchedule'
      responses:
        '200':
          description: The created schedule for report generation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportSchedule'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportingError'
              example: Invalid report configuration
  '/api/reporting/v1/{domain}/schedules/{scheduleId}':
    parameters:
      - $ref: '#/components/parameters/domain'
      - $ref: '#/components/parameters/scheduleId'
    get:
      summary: Get the configuration of the requested schedule for report generation
      tags:
        - Reporting
      responses:
        '200':
          description: Configuration for the requested schedule for report generation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportSchedule'
        '404':
          description: Requested report generation schedule not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportingError'
              example: Report generation schedule not found
    put:
      summary: Edit the configuration of the requested schedule for report generation
      tags:
        - Reporting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportSchedule'
      responses:
        '200':
          description: >-
            Updated configuration for the requested schedule for report
            generation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportSchedule'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportingError'
              example: Invalid report configuration
        '404':
          description: Requested report generation schedule not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportingError'
              example: Report generation schedule not found
    delete:
      summary: Remove the requested schedule for report generation
      tags:
        - Reporting
      responses:
        '204':
          description: Schedule for report generation removed
  '/api/reporting/v1/{domain}/reports/{fileId}':
    parameters:
      - $ref: '#/components/parameters/domain'
      - $ref: '#/components/parameters/fileId'
    get:
      summary: Download a previously generated report
      tags:
        - Reporting
      responses:
        '200':
          description: Report content
          content:
            text/csv:
              schema:
                type: string
            application/json:
              schema:
                $ref: '#/components/schemas/ReportContent'
            application/pdf:
              schema:
                type: string
                format: binary
        '307':
          description: Requested report available for download at another location
          headers:
            Location:
              schema:
                type: string
        '404':
          description: Requested report not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportingError'
              example: Report not found
  /api/v1/policyAdvisor/podSecurityPolicies:
    post:
      summary: Create a podSecurityPolicy
      description: >-
        Create a podSecurityPolicy from a k8s deployment yaml. Uses
        k8s-psp-advisor to perform the conversion.
      tags:
        - Policy Advisor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicySimulationK8sObject'
      responses:
        '200':
          description: >-
            An initial PSP that can be used as a part of the /simulations
            endpoints
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/K8sPsp'
        '400':
          description: Some part of the provided deployment yaml was malformed/invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/policyAdvisor/simulations:
    get:
      summary: Get a list of simulations
      description: >-
        Get a list of simulations for the current customer, including names/ids,
        etc.
      tags:
        - Policy Advisor
      parameters:
        - name: offset
          in: query
          required: true
          schema:
            type: number
            format: integer
          description: Return values from the simulations list at this position.
        - name: limit
          in: query
          required: true
          schema:
            type: number
            format: integer
          description: The maximum number of items to return.
        - name: dir
          in: query
          required: true
          schema:
            type: string
            enum:
              - Asc
              - Desc
          description: >-
            Whether additional results should be increasing or decreasing
            relative to limit.
        - name: filter
          in: query
          required: false
          schema:
            type: string
          description: >-
            Filter used to match against the name attribute of the policy
            simulation.
      responses:
        '200':
          description: The list of simulations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySimulationsList'
        '400':
          description: Some part of the request was invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: The request is unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new policy simulation
      description: Create a new policy simulation
      tags:
        - Policy Advisor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicySimulationInfo'
      responses:
        '200':
          description: The just-created policy simulation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySimulation'
        '400':
          description: Some part of the request was invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: The operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity (Backend rejected due to validation errors)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/api/v1/policyAdvisor/simulations/{id}':
    get:
      summary: Retrieve info on a single policy simulation
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      tags:
        - Policy Advisor
      responses:
        '200':
          description: The requested policy simulation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySimulation'
    put:
      summary: Update a given policy simulation
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicySimulationInfo'
      tags:
        - Policy Advisor
      responses:
        '200':
          description: The now-updated policy simulation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySimulation'
        '400':
          description: Some part of the request was invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity (Backend rejected due to validation errors)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete the policy simulation.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      tags:
        - Policy Advisor
      responses:
        '200':
          description: The deleted policy simulation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySimulation'
        '400':
          description: Simulation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/networkTopology/clusters:
    get:
      summary: Returns all cluster names for the customer
      description: Returns all cluster names for the customer
      tags:
        - Network Topology
      parameters:
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
      responses:
        '200':
          description: Indicates the requested cluster names were successfully returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClustersResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/v1/networkTopology/namespaces:
    get:
      summary: Returns all namespace names for the cluster
      description: Returns all namespace names for the cluster
      tags:
        - Network Topology
      parameters:
        - $ref: '#/components/parameters/components-parameters-cluster'
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
      responses:
        '200':
          description: Indicates the requested namespaces were successfully returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespacesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/v1/networkTopology/owners:
    get:
      summary: 'Returns all pod owners for a cluster, namespace, and time range'
      tags:
        - Network Topology
      description: Returns a map of owner type to a list of owner selectors
      parameters:
        - $ref: '#/components/parameters/components-parameters-cluster'
        - $ref: '#/components/parameters/parameters-namespace'
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
      responses:
        '200':
          description: >-
            Indicates the requested map of owner type to a list of owner
            selectors were successfully returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnersResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/v1/networkTopology/ingressSummaries:
    get:
      summary: Returns an overview of ingress networking traffic
      tags:
        - Network Topology
      description: Returns an overview of ingress networking traffic
      parameters:
        - $ref: '#/components/parameters/components-parameters-cluster'
        - $ref: '#/components/parameters/parameters-namespace'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/kind'
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
      responses:
        '200':
          description: >-
            Indicates the requested overview of ingress networking traffic was
            successfully returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngressSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/v1/networkTopology/egressSummaries:
    get:
      summary: Returns an overview of egress networking traffic
      tags:
        - Network Topology
      description: Returns an overview of egress networking traffic
      parameters:
        - $ref: '#/components/parameters/components-parameters-cluster'
        - $ref: '#/components/parameters/parameters-namespace'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/kind'
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
      responses:
        '200':
          description: >-
            Indicates the requested overview of egress networking traffic was
            successfully returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EgressSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/v1/networkTopology/ingressUnresolvedIps:
    get:
      summary: Returns the unresolved ips for a time range and pod owner
      tags:
        - Network Topology
      description: Returns the unresolved ips for a time range and pod owner
      parameters:
        - $ref: '#/components/parameters/components-parameters-cluster'
        - $ref: '#/components/parameters/parameters-namespace'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/kind'
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
      responses:
        '200':
          description: >-
            Indicates the requested ingress unresolved ips were successfully
            returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EgressUnresolvedIpsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/v1/networkTopology/egressUnresolvedIps:
    get:
      summary: Returns the unresolved ips for a time range and pod owner
      tags:
        - Network Topology
      description: Returns the unresolved ips for a time range and pod owner
      parameters:
        - $ref: '#/components/parameters/components-parameters-cluster'
        - $ref: '#/components/parameters/parameters-namespace'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/kind'
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
      responses:
        '200':
          description: >-
            Indicates the requested egress unresolved ips were successfully
            returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngressUnresolvedIpsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/v1/networkTopology/ownerTopology:
    get:
      summary: Creates a communication topology graph around the specified owner
      tags:
        - Network Topology
      description: Creates a communication topology graph around the specified owner
      parameters:
        - $ref: '#/components/parameters/parameters-namespace'
        - $ref: '#/components/parameters/components-parameters-cluster'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/kind'
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
      responses:
        '200':
          description: Indicates the requested topology graph is sucessfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopologyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/v1/networkTopology/status:
    get:
      summary: Ping the status
      tags:
        - Network Topology
      description: |
        Retrieves a 200 to double check if the topology feature on the
        backend is available.
      responses:
        '200':
          description: Indicates the topology feature is available
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                properties:
                  status:
                    type: string
                    description: The status.
                    enum:
                      - ok
                    example: ok
  '/api/v1/networkSecurity/namespaces/{namespaceName}/simulatedPolicies':
    post:
      summary: Creates a Kubernetes Network Policy
      description: Creates a Kubernetes Network Policy
      tags:
        - Network Security
      parameters:
        - $ref: '#/components/parameters/namespaceName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KubernetesNetworkPolicyRequest'
      responses:
        '200':
          description: Indicates the requested KNP was successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KubernetesNetworkPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/v1/networkSecurity/networkPolicyOverlayOwnerTopology:
    post:
      summary: Creates a communication topology graph around the specified owner
      description: >-
        Creates a communication topology graph around the specified owner; if
        KNP spec is provided, marks communication edges as 'blocked' if they are
        blocked by the KNP
      tags:
        - Network Security
      parameters:
        - $ref: '#/components/parameters/parameters-namespace'
        - $ref: '#/components/parameters/components-parameters-cluster'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/kind'
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KubernetesNetworkPolicyRequest'
      responses:
        '200':
          description: Indicates the requested topology graph is sucessfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopologyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/v1/networkSecurity/status:
    get:
      summary: Ping the status
      description: |
        Retrieves a 200 to double check if the network security feature on the
        backend is available.
      tags:
        - Network Security
      responses:
        '200':
          description: Indicates the network security feature is available
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                properties:
                  status:
                    type: string
                    description: The status.
                    enum:
                      - ok
                    example: ok
  /api/v1/networkTopology/workloadLabelKeys:
    get:
      summary: Returns sorted list of unique workload label key values
      tags:
        - Network Topology
      description: Returns sorted list of unique workload label key values
      parameters:
        - $ref: '#/components/parameters/components-parameters-cluster'
      responses:
        '200':
          description: Indicates the requested list was returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Labels'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/v1/networkTopology/namespaceLabelKeys:
    get:
      summary: Returns sorted list of unique namespace label key values
      tags:
        - Network Topology
      description: Returns sorted list of unique namespace label key values
      parameters:
        - $ref: '#/components/parameters/components-parameters-cluster'
      responses:
        '200':
          description: Indicates the requested list was returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Labels'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/v1/captures:
    get:
      summary: Retrieve the list of captures
      description: Retrieve the list of captures
      tags:
        - Captures
      parameters:
        - name: ids
          in: query
          required: false
          schema:
            type: integer
          description: >-
            Represents the id of a particular capture. Can be used multiple
            times in the same request to fetch multiple captures
        - name: offset
          in: query
          required: false
          schema:
            type: integer
          description: >-
            Indicates the distance between the true starting point and the index
            of the first returned capture
        - name: limit
          in: query
          required: false
          schema:
            type: integer
        - name: sort
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SortableCaptureFields'
        - name: dir
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Direction'
        - name: filter
          in: query
          required: false
          schema:
            type: string
        - name: from
          in: query
          required: false
          schema:
            type: integer
          description: Unix time of when to start looking for captures in microseconds
        - name: to
          in: query
          required: false
          schema:
            type: integer
          description: Unix time of when to stop looking for captures in microseconds
        - name: source
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/AppEnum'
        - name: scopeFilter
          in: query
          required: false
          schema:
            type: string
          description: Limit the results to only captures matching a scope expression
          example: kubernetes.cluster.name != null
        - name: metrics
          in: query
          required: false
          schema:
            type: string
          example:
            - host.mac
            - host.hostName
            - container.id
            - container.name
            - container.image
        - name: aggregations
          in: query
          required: false
          schema:
            type: string
          example:
            - host.mac
            - host.hostName
            - container.id
            - container.name
            - container.image
        - name: forceSync
          in: query
          required: false
          schema:
            type: boolean
        - name: annotations
          in: query
          required: false
          schema:
            type: string
        - name: token
          in: query
          required: false
          schema:
            type: string
          description: >-
            Uniquely identifies a capture and correlates the capture to a
            request. Must match the following regex
            ([a-z0-9]){8}-([a-z0-9]){4}-([a-z0-9]){4}-([a-z0-9]){4}-([a-z0-9]){12}
          example: 960d9da0-cc79-4079-932a-544e193ab385
      responses:
        '200':
          description: The array representing the captures
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCapturesResponse'
        '400':
          description: Indicates a query param was invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
    post:
      summary: Create a capture
      description: Create a capture
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCapture'
      tags:
        - Captures
      responses:
        '200':
          description: Successfully created a capture
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaptureWrapper'
        '400':
          description: Indicates the request body was invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
    delete:
      summary: Delete captures
      description: Delete captures
      parameters:
        - name: ids
          in: query
          required: false
          schema:
            type: integer
          description: >-
            Represents the id of a particular capture. Can be used multiple
            times in the same request to delete multiple captures
        - name: source
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/AppEnum'
          description: >-
            Indicates that only captures belonging to either the monitor or
            secure product should be considered for deletion. Defaults to SDC if
            not specified
        - name: statuses
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/CaptureStatus'
          description: >-
            Indicates that only captures with a particular status should be
            considered for deletion. Can be used multiple times in the same
            request
      tags:
        - Captures
      responses:
        '200':
          description: The number of captures deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteCapturesResponse'
  '/api/v1/captures/{captureId}':
    get:
      summary: Get a capture
      description: Get a capture
      parameters:
        - name: captureId
          in: path
          required: true
          schema:
            type: integer
      tags:
        - Captures
      responses:
        '200':
          description: Successfully retrieved a capture
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaptureWrapper'
        '404':
          description: The capture could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
    put:
      summary: Update a capture
      description: Update a capture
      parameters:
        - name: captureId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Capture'
      tags:
        - Captures
      responses:
        '200':
          description: Successfully updated a capture
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Capture'
        '400':
          description: Indicates the request body was invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
  '/api/v1/captures/{captureId}/download':
    get:
      summary: Download a capture
      description: Download a capture
      parameters:
        - name: captureId
          in: path
          required: true
          schema:
            type: integer
      tags:
        - Captures
      responses:
        '302':
          description: Redirects to a location for downloading
        '404':
          description: The capture could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
  '/api/v1/captures/{captureId}/stop':
    post:
      summary: Stop a capture
      description: Stop a capture
      parameters:
        - name: captureId
          in: path
          required: true
          schema:
            type: integer
      tags:
        - Captures
      responses:
        '200':
          description: Successfully stopped the capture
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaptureWrapper'
        '404':
          description: The capture could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
  '/api/scanning/v1/images/{imageDigest}/vulnSummary':
    get:
      summary: >-
        Retrieve a map of vulnType -> (map of severity -> count) of the
        vulnerabilities of an image
      parameters:
        - name: imageDigest
          in: path
          description: The targeted image digest
          required: true
          schema:
            type: string
      tags:
        - Scanning
      responses:
        '200':
          description: A map of vulnType -> (map of severity -> count)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanningVulnSummaryMap'
  '/api/scanning/v1/images/{imageDigest}/vulnSummaryDirect':
    get:
      summary: >-
        Vulnerabilities of an image. [Digest] Data is fetched directly from
        anchore database.
      parameters:
        - name: imageDigest
          in: path
          description: The targeted image digest
          required: true
          schema:
            $ref: '#/components/schemas/ScanningImageDigest'
      tags:
        - Scanning
      responses:
        '200':
          description: A map of vulnType -> (map of severity -> count)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanningVulnSummaryMap'
  '/api/scanning/v1/images/by_id/{imageId}/vulnSummaryDirect':
    get:
      summary: >-
        Vulnerabilities of an image. [ImageID] Data is fetched directly from
        anchore database.
      parameters:
        - name: imageId
          in: path
          description: The targeted imageID
          required: true
          schema:
            $ref: '#/components/schemas/ScanningImageId'
      tags:
        - Scanning
      responses:
        '200':
          description: A map of vulnType -> (map of severity -> count)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanningVulnSummaryMap'
  '/api/scanning/v1/images/{imageDigest}/vuln/{vtype}':
    get:
      summary: Retrieve vulnerabilities data of an image
      parameters:
        - name: imageDigest
          in: path
          description: The targeted image digest
          required: true
          schema:
            $ref: '#/components/schemas/ScanningImageDigest'
        - name: vtype
          in: path
          description: The type of vulnerabilities to retrieve
          required: true
          schema:
            type: string
            enum:
              - os
              - non-os
        - name: filter
          in: query
          description: >-
            If specified, only vulnerabilities that contain this substring will
            be retrieved
          required: false
          schema:
            type: string
        - name: sort
          in: query
          description: Sorting method. Defaults to descendent.
          required: false
          schema:
            type: string
            enum:
              - desc
              - asc
        - name: sortBy
          in: query
          description: Field used to alphabetically sort by. Defaults to severity.
          required: false
          schema:
            type: string
            enum:
              - vuln
              - fix
              - severity
              - package
              - url
              - feed
              - feed_group
              - package_name
              - package_version
              - package_type
              - package_cpe
              - package_pat
        - name: filters
          in: query
          description: >-
            A comma-separated list of severities. If specified, only
            vulnerabilities of these severities will be retrieved
          required: false
          schema:
            type: string
            enum:
              - Unknown
              - Negligible
              - Low
              - Medium
              - High
              - Critical
        - name: hasFix
          in: query
          description: >-
            If specified, only vulnerabilities with an available fix will be
            retrieved
          required: false
          schema:
            type: boolean
        - name: cmpDigest
          in: query
          description: >-
            If specified, the vulnerabilities in the response will contain a
            comparison status relative to the image specified by this parameter.
            A total count of all comparison statuses will also be returned.
          required: false
          schema:
            type: string
        - name: cmpFilter
          in: query
          description: >-
            If specified, only vulnerabilities matching this comparison status
            will be returned. If not specified, all vulnerabilities will be
            returned.
          required: false
          schema:
            type: string
            enum:
              - New
              - Fixed
              - Shared
        - name: offset
          in: query
          description: >-
            If specified, a 0-based index on the vulnerabilities list. Only
            entries >= offset will be retrieved. Defaults to 0. If filter is
            also specified, this index will be applied on the filtered list. An
            empty list will be retrieved if this index overflows the list.
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          description: >-
            If specified, a limit on the number of entries retrieved. If filter
            is also specified, the limit will be applied on the filtered list.
            limit must be >= 1 and if it overflows the list all entries will be
            retrieved.
          required: false
          schema:
            type: integer
        - name: includeVulnExceptions
          in: query
          description: >-
            If specified, returns also the set of vulnerability exception lists
            where the vulnerability is contained and when it will expire.
          required: false
          schema:
            type: boolean
        - name: imageTag
          in: query
          description: |
            The image's tag.
            Required when "includeVulnExceptions" is set to true.
          required: false
          schema:
            type: string
        - name: bundleId
          in: query
          description: >-
            Target bundle. If not specified, the currently active bundle will be
            used.
          required: false
          schema:
            type: string
      tags:
        - Scanning
      responses:
        '200':
          description: The retrieved vulnerabilities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanningVulnerabilities'
  '/api/scanning/v1/images/{imageDigest}/vulnDirect/{vtype}':
    get:
      summary: |
        Retrieve vulnerabilities data of an image [Digest][Direct]
      parameters:
        - name: imageDigest
          in: path
          description: The targeted image digest
          required: true
          schema:
            type: string
        - name: vtype
          in: path
          description: The type of vulnerabilities to retrieve
          required: true
          schema:
            type: string
            enum:
              - os
              - non-os
              - all
        - name: filter
          in: query
          description: >-
            If specified, only vulnerabilities that contain this substring will
            be retrieved
          required: false
          schema:
            type: string
        - name: sort
          in: query
          description: Sorting method. Defaults to descendent.
          required: false
          schema:
            type: string
            enum:
              - desc
              - asc
        - name: sortBy
          in: query
          description: Field used to alphabetically sort by. Defaults to severity.
          required: false
          schema:
            type: string
            enum:
              - vuln
              - fix
              - severity
              - package
              - url
              - feed
              - feed_group
              - package_name
              - package_version
              - package_type
              - package_cpe
              - package_pat
        - name: filters
          in: query
          description: >-
            A comma-separated list of severities. If specified, only
            vulnerabilities of these severities will be retrieved
          required: false
          schema:
            type: string
            enum:
              - Unknown
              - Negligible
              - Low
              - Medium
              - High
              - Critical
        - name: hasFix
          in: query
          description: >-
            If specified, only vulnerabilities with an available fix will be
            retrieved
          required: false
          schema:
            type: boolean
        - name: offset
          in: query
          description: >-
            If specified, a 0-based index on the vulnerabilities list. Only
            entries >= offset will be retrieved. Defaults to 0. If filter is
            also specified, this index will be applied on the filtered list. An
            empty list will be retrieved if this index overflows the list.
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          description: >-
            If specified, a limit on the number of entries retrieved. If filter
            is also specified, the limit will be applied on the filtered list.
            limit must be >= 1 and if it overflows the list all entries will be
            retrieved.
          required: false
          schema:
            type: integer
        - name: includeVulnExceptions
          in: query
          description: >-
            If specified, returns also the set of vulnerability exception lists
            where the vulnerability is contained and when it will expire.
          required: false
          schema:
            type: boolean
        - name: imageTag
          in: query
          description: |
            The image's tag.
            Required when "includeVulnExceptions" is set to true.
          required: false
          schema:
            type: string
        - name: bundleId
          in: query
          description: >-
            Target bundle. If not specified, the currently active bundle will be
            used.
          required: false
          schema:
            type: string
      tags:
        - Scanning
      responses:
        '200':
          description: The retrieved vulnerabilities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanningVulnerabilities'
  '/api/scanning/v1/images/by_id/{imageId}/vulnDirect/{vtype}':
    get:
      summary: |
        Retrieve vulnerabilities data of an image [ImageId][Direct]
      parameters:
        - name: imageId
          in: path
          description: The targeted imageID
          required: true
          schema:
            $ref: '#/components/schemas/ScanningImageId'
        - name: vtype
          in: path
          description: The type of vulnerabilities to retrieve
          required: true
          schema:
            type: string
            enum:
              - os
              - non-os
              - all
        - name: filter
          in: query
          description: >-
            If specified, only vulnerabilities that contain this substring will
            be retrieved
          required: false
          schema:
            type: string
        - name: sort
          in: query
          description: Sorting method. Defaults to descendent.
          required: false
          schema:
            type: string
            enum:
              - desc
              - asc
        - name: sortBy
          in: query
          description: Field used to alphabetically sort by. Defaults to severity.
          required: false
          schema:
            type: string
            enum:
              - vuln
              - fix
              - severity
              - package
              - url
              - feed
              - feed_group
              - package_name
              - package_version
              - package_type
              - package_cpe
              - package_pat
        - name: filters
          in: query
          description: >-
            A comma-separated list of severities. If specified, only
            vulnerabilities of these severities will be retrieved
          required: false
          schema:
            type: string
            enum:
              - Unknown
              - Negligible
              - Low
              - Medium
              - High
              - Critical
        - name: hasFix
          in: query
          description: >-
            If specified, only vulnerabilities with an available fix will be
            retrieved
          required: false
          schema:
            type: boolean
        - name: offset
          in: query
          description: >-
            If specified, a 0-based index on the vulnerabilities list. Only
            entries >= offset will be retrieved. Defaults to 0. If filter is
            also specified, this index will be applied on the filtered list. An
            empty list will be retrieved if this index overflows the list.
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          description: >-
            If specified, a limit on the number of entries retrieved. If filter
            is also specified, the limit will be applied on the filtered list.
            limit must be >= 1 and if it overflows the list all entries will be
            retrieved.
          required: false
          schema:
            type: integer
        - name: includeVulnExceptions
          in: query
          description: >-
            If specified, returns also the set of vulnerability exception lists
            where the vulnerability is contained and when it will expire.
          required: false
          schema:
            type: boolean
        - name: imageTag
          in: query
          description: |
            The image's tag.
            Required when "includeVulnExceptions" is set to true.
          required: false
          schema:
            type: string
        - name: bundleId
          in: query
          description: >-
            Target bundle. If not specified, the currently active bundle will be
            used.
          required: false
          schema:
            type: string
      tags:
        - Scanning
      responses:
        '200':
          description: The retrieved vulnerabilities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanningVulnerabilities'
  '/api/scanning/v1/images/{imageDigest}/vulnexceptions':
    get:
      summary: >
        Retrieve the vulnerability exception lists that this image is bound to
        via policies assignements [Digest]
      tags:
        - Scanning
      parameters:
        - name: imageDigest
          in: path
          description: The targeted image digest
          required: true
          schema:
            $ref: '#/components/schemas/ScanningImageDigest'
        - name: tag
          in: query
          description: The image's tag
          required: true
          schema:
            type: string
        - name: withItems
          in: query
          description: >
            Include or not "items" in the response. Useful when there are a lot
            of vulnerability exception lists.
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: The associated vulnerability exception lists
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScanningVulnException'
        '404':
          description: Image digest not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanningError'
              example: Image not found
  '/api/scanning/v1/images/by_id/{imageId}/vulnexceptions':
    get:
      summary: >
        Retrieve the vulnerability exception lists that this image is bound to
        via policies assignements [ImageID]
      tags:
        - Scanning
      parameters:
        - name: imageId
          in: path
          description: The targeted imageID
          required: true
          schema:
            $ref: '#/components/schemas/ScanningImageId'
        - name: tag
          in: query
          description: The image's tag
          required: true
          schema:
            type: string
        - name: withItems
          in: query
          description: >
            Include or not "items" in the response. Useful when there are a lot
            of vulnerability exception lists.
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: The associated vulnerability exception lists
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScanningVulnException'
        '404':
          description: Image digest not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanningError'
              example: Image not found
  '/api/scanning/v1/images/{imageDigest}/content/{ctype}':
    get:
      summary: |
        Retrieve the content of an image [Digest]
      parameters:
        - name: imageDigest
          in: path
          description: The targeted image digest
          required: true
          schema:
            $ref: '#/components/schemas/ScanningImageDigest'
        - name: ctype
          in: path
          description: The type of content to retrieve
          required: true
          schema:
            type: string
            enum:
              - os
              - files
              - npm
              - gem
              - python
              - java
        - name: filter
          in: query
          description: >-
            If specified, only content entries that contain this substring will
            be retrieved
          required: false
          schema:
            type: string
        - name: sort
          in: query
          description: Sorting method
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: sortBy (for java type)
          in: query
          description: Field used to alphabetically sort by. Defaults to package
          required: false
          schema:
            type: string
            enum:
              - package
              - implementation-version
              - specification-version
              - maven-version
              - location
              - type
              - origin
        - name: sortBy (for files type)
          in: query
          description: Field used to alphabetically sort by. Defaults to filename
          required: false
          schema:
            type: string
            enum:
              - filename
              - gid
              - linkdest
              - mode
              - sha256
              - size
              - type
              - uid
        - name: 'sortBy (for os,npm,gem,python types)'
          in: query
          description: Field used to alphabetically sort by. Defaults to package
          required: false
          schema:
            type: string
            enum:
              - package
              - version
              - size
              - type
              - origin
              - license
              - location
        - name: offset
          in: query
          description: >-
            If specified, a 0-based index on the content list. Only entries >=
            offset will be retrieved. Defaults to 0. If filter is also
            specified, this index will be applied on the filtered list. An empty
            list will be retrieved if this index overflows the list.
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          description: >-
            If specified, a limit on the number of entries retrieved. If filter
            is also specified, the limit will be applied on the filtered list.
            limit must be >= 1 and if it overflows the list all entries will be
            retrieved.
          required: false
          schema:
            type: integer
      tags:
        - Scanning
      responses:
        '200':
          description: The retrieved content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanningImageContent'
  '/api/scanning/v1/images/by_id/{imageId}/content/{ctype}':
    get:
      summary: |
        Retrieve the content of an image [ImageID]
      parameters:
        - name: imageId
          in: path
          description: The targeted imageID
          required: true
          schema:
            $ref: '#/components/schemas/ScanningImageId'
        - name: ctype
          in: path
          description: The type of content to retrieve
          required: true
          schema:
            type: string
            enum:
              - os
              - files
              - npm
              - gem
              - python
              - java
        - name: filter
          in: query
          description: >-
            If specified, only content entries that contain this substring will
            be retrieved
          required: false
          schema:
            type: string
        - name: sort
          in: query
          description: Sorting method
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: sortBy (for java type)
          in: query
          description: Field used to alphabetically sort by. Defaults to package
          required: false
          schema:
            type: string
            enum:
              - package
              - implementation-version
              - specification-version
              - maven-version
              - location
              - type
              - origin
        - name: sortBy (for files type)
          in: query
          description: Field used to alphabetically sort by. Defaults to filename
          required: false
          schema:
            type: string
            enum:
              - filename
              - gid
              - linkdest
              - mode
              - sha256
              - size
              - type
              - uid
        - name: 'sortBy (for os,npm,gem,python types)'
          in: query
          description: Field used to alphabetically sort by. Defaults to package
          required: false
          schema:
            type: string
            enum:
              - package
              - version
              - size
              - type
              - origin
              - license
              - location
        - name: offset
          in: query
          description: >-
            If specified, a 0-based index on the content list. Only entries >=
            offset will be retrieved. Defaults to 0. If filter is also
            specified, this index will be applied on the filtered list. An empty
            list will be retrieved if this index overflows the list.
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          description: >-
            If specified, a limit on the number of entries retrieved. If filter
            is also specified, the limit will be applied on the filtered list.
            limit must be >= 1 and if it overflows the list all entries will be
            retrieved.
          required: false
          schema:
            type: integer
      tags:
        - Scanning
      responses:
        '200':
          description: The retrieved content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanningImageContent'
  '/api/scanning/v1/images/{imageDigest}/checkSummary':
    get:
      summary: >-
        Retrieve the policy evaluation summary of an image with the selected
        timestamp [Digest]
      parameters:
        - name: imageDigest
          in: path
          description: The targeted image digest
          required: true
          schema:
            type: string
        - name: at
          in: query
          description: >-
            The RFC-3339 timestamp of the evaluation. If not specified, the most
            recent evaluation will be returned
          required: false
          schema:
            type: string
            format: date-time
        - name: tag
          in: query
          description: The image full tag
          required: true
          schema:
            type: string
      tags:
        - Scanning
      responses:
        '200':
          description: The policy evaluation summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanningCheckSummary'
  '/api/scanning/v1/images/by_id/{imageId}/checkSummary':
    get:
      summary: >-
        Retrieve the policy evaluation summary of an image with the selected
        timestamp [ImageID]
      parameters:
        - name: imageId
          in: path
          description: The targeted imageID
          required: true
          schema:
            $ref: '#/components/schemas/ScanningImageId'
        - name: at
          in: query
          description: >-
            The RFC-3339 timestamp of the evaluation. If not specified, the most
            recent evaluation will be returned
          required: false
          schema:
            type: string
            format: date-time
        - name: tag
          in: query
          description: The image full tag
          required: true
          schema:
            type: string
      tags:
        - Scanning
      responses:
        '200':
          description: The policy evaluation summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanningCheckSummary'
  '/api/scanning/v1/images/{imageDigest}/checkSummary/{policyId}':
    get:
      summary: >-
        Retrieve the policy evaluation summary of a specific policy for an image
        with the selected timestamp [Digest]
      parameters:
        - name: imageDigest
          in: path
          description: The targeted image digest
          required: true
          schema:
            $ref: '#/components/schemas/ScanningImageDigest'
        - name: policyId
          in: path
          description: The targeted policy ID
          required: true
          schema:
            type: string
        - name: at
          in: query
          description: >-
            The RFC-3339 timestamp of the evaluation. If not specified, the most
            recent evaluation will be returned
          required: false
          schema:
            type: string
            format: date-time
        - name: tag
          in: query
          description: The image full tag
          required: true
          schema:
            type: string
      tags:
        - Scanning
      responses:
        '200':
          description: The policy evaluation policy summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanningCheckPolicySummary'
  '/api/scanning/v1/images/by_id/{imageId}/checkSummary/{policyId}':
    get:
      summary: >-
        Retrieve the policy evaluation summary of a specific policy for an image
        with the selected timestamp [ImageID]
      parameters:
        - name: imageId
          in: path
          description: The targeted image digest
          required: true
          schema:
            $ref: '#/components/schemas/ScanningImageId'
        - name: policyId
          in: path
          description: The targeted policy ID
          required: true
          schema:
            type: string
        - name: at
          in: query
          description: >-
            The RFC-3339 timestamp of the evaluation. If not specified, the most
            recent evaluation will be returned
          required: false
          schema:
            type: string
            format: date-time
        - name: tag
          in: query
          description: The image full tag
          required: true
          schema:
            type: string
      tags:
        - Scanning
      responses:
        '200':
          description: The policy evaluation policy summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanningCheckPolicySummary'
  '/api/scanning/v1/images/{imageDigest}/policyEvaluation':
    get:
      summary: 'Retrieve the policy evaluation summary of an image [Digest]'
      parameters:
        - name: imageDigest
          in: path
          description: The targeted image digest
          required: true
          schema:
            $ref: '#/components/schemas/ScanningImageDigest'
        - name: tag
          in: query
          description: The image full tag
          required: true
          schema:
            type: string
      tags:
        - Scanning
      responses:
        '200':
          description: The policy evaluation summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyEvaluationResponse'
  '/api/scanning/v1/images/by_id/{imageId}/policyEvaluation':
    get:
      summary: 'Retrieve the policy evaluation summary of an image [ImageID]'
      parameters:
        - name: imageId
          in: path
          description: The targeted imageID
          required: true
          schema:
            $ref: '#/components/schemas/ScanningImageId'
        - name: tag
          in: query
          description: The image full tag
          required: true
          schema:
            type: string
      tags:
        - Scanning
      responses:
        '200':
          description: The policy evaluation summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyEvaluationResponse'
  /api/scanning/v1/policies:
    get:
      summary: >-
        Retrieve the list of all the policies in the targeted Anchore policy
        bundle
      parameters:
        - name: bundleId
          in: query
          description: >-
            Target bundle. If not specified, the currently active bundle will be
            used.
          required: false
          schema:
            type: string
      tags:
        - Scanning
      responses:
        '200':
          description: List of all the policies in the targeted policy bundle
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScanningPolicy'
    post:
      summary: Create a new Anchore policy in the targeted Anchore policy bundle
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScanningPolicy'
      tags:
        - Scanning
      responses:
        '200':
          description: The newly created policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanningPolicy'
  /api/scanning/v1/auditPolicies:
    get:
      summary: >-
        Retrieve the list of all the default audit policies IDs in the targeted
        Anchore policy bundle
      parameters:
        - name: bundleId
          in: query
          description: >-
            Target bundle. If not specified, the currently active bundle will be
            used.
          required: false
          schema:
            type: string
      tags:
        - Scanning
      responses:
        '200':
          description: >-
            List of all the default audit policies IDs in the targeted policy
            bundle
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  '/api/scanning/v1/policies/{id}':
    get:
      summary: >-
        Retrieve the policy with the given id in the targeted Anchore policy
        bundle
      tags:
        - Scanning
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: bundleId
          in: query
          description: >-
            Target bundle. If not specified, the currently active bundle will be
            used.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: The policy with the given id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanningPolicy'
        '404':
          description: Policy not found
    put:
      summary: >-
        Update the policy with the given id in the targeted Anchore policy
        Bundle
      tags:
        - Scanning
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScanningPolicy'
      responses:
        '200':
          description: The updated policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanningPolicy'
        '404':
          description: Policy not found
    delete:
      summary: >-
        Delete the policy with the given id in the targeted Anchore policy
        Bundle
      tags:
        - Scanning
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: bundleId
          in: query
          description: >-
            Target bundle. If not specified, the currently active bundle will be
            used.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Policy deleted
        '404':
          description: Policy not found
  /api/scanning/v1/registryDisplayNames:
    get:
      summary: >-
        Retrieve the list of all mappings between registry names and registry
        display names
      tags:
        - Scanning
      responses:
        '200':
          description: List of all registry display name mappings
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScanningRegistryDisplayNameMapping'
  /api/scanning/v1/whitelists:
    get:
      summary: >-
        Retrieve all the vulnerability exception lists in the targeted Anchore
        policy bundle
      parameters:
        - name: bundleId
          in: query
          description: >-
            Target bundle. If not specified, the currently active bundle will be
            used.
          required: false
          schema:
            type: string
        - name: withItems
          in: query
          description: >
            Include or not "items" in the response. Useful when there are a lot
            of vulnerability exception lists.
          required: false
          schema:
            type: boolean
      tags:
        - Scanning
      responses:
        '200':
          description: All the vulnerability exception lists in the targeted policy bundle
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScanningVulnException'
    post:
      summary: Create a new vulnerability exception list in the targeted policy bundle
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScanningVulnException'
      tags:
        - Scanning
      responses:
        '200':
          description: The newly created vulnerability exception list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanningVulnException'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanningError'
              example: Missing field name
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanningError'
              example: >-
                A vulnerability exception list with the given name already
                exists
  '/api/scanning/v1/whitelists/{id}':
    get:
      summary: >-
        Retrieve the vulnerability exception list with the given id in the
        active Anchore policy bundle
      tags:
        - Scanning
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: bundleId
          in: query
          description: >-
            Target bundle. If not specified, the currently active bundle will be
            used.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: The vulnerability exception list with the given id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanningVulnException'
        '404':
          description: Vulnerability exception list not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanningError'
              example: Vulnerability exception list not found
    put:
      summary: >-
        Update the main attributes of the vulnerability exception list with the
        given id in the targeted Anchore policy bundle
      tags:
        - Scanning
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: bundleId
          in: query
          schema:
            type: string
          description: >-
            Target bundle. If not specified, the currently active bundle will be
            used.
          required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScanningVulnExceptionPUTRequest'
      responses:
        '200':
          description: The updated vulnerability exception list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanningVulnException'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanningError'
              example: Missing field name
        '404':
          description: Policy not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanningError'
              example: Vulnerability exception list not found
        '409':
          description: Conflict
          content:
            application/json:
              schema:
[...]
